<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiandai.mapper.FundPlayMapper" >
  <resultMap id="BaseResultMap" type="com.qiandai.entity.FundPlay" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="play_no" property="playNo" jdbcType="VARCHAR" />
    <result column="play_name" property="playName" jdbcType="VARCHAR" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="play_money" property="playMoney" jdbcType="DECIMAL" />
    <result column="mobile_no" property="mobileNo" jdbcType="VARCHAR" />
    <result column="play_state" property="playState" jdbcType="VARCHAR" />
    <result column="play_time" property="playTime" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.qiandai.entity.FundPlay" >
    insert into fund_play_table (id, play_no, play_name, 
      card_no, play_money, mobile_no, 
      play_state, play_time, created_at, 
      updated_at, deleted_at)
    values (#{id,jdbcType=BIGINT}, #{playNo,jdbcType=VARCHAR}, #{playName,jdbcType=VARCHAR}, 
      #{cardNo,jdbcType=VARCHAR}, #{playMoney,jdbcType=DECIMAL}, #{mobileNo,jdbcType=VARCHAR}, 
      #{playState,jdbcType=VARCHAR}, #{playTime,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qiandai.entity.FundPlay" >
    insert into fund_play_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="playNo != null" >
        play_no,
      </if>
      <if test="playName != null" >
        play_name,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="playMoney != null" >
        play_money,
      </if>
      <if test="mobileNo != null" >
        mobile_no,
      </if>
      <if test="playState != null" >
        play_state,
      </if>
      <if test="playTime != null" >
        play_time,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="deletedAt != null" >
        deleted_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="playNo != null" >
        #{playNo,jdbcType=VARCHAR},
      </if>
      <if test="playName != null" >
        #{playName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="playMoney != null" >
        #{playMoney,jdbcType=DECIMAL},
      </if>
      <if test="mobileNo != null" >
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="playState != null" >
        #{playState,jdbcType=VARCHAR},
      </if>
      <if test="playTime != null" >
        #{playTime,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null" >
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>